{% extends '::layout.html.twig' %}

{% block content %}
{% include 'GYGBFrontBundle:TakeAStep:_takeAStepMenu.html.twig' %}
    <span class="take-a-step-heading">Once you take your step, share it and enter to win over $2000 in prizes.</div>
    
    <div id="step-submission-container">
        <div id="whats-your-step">
            {% include "GYGBFrontBundle:ShareAStep:_stepForm.html.twig" with {'stepForm' : stepForm, 'categoryNames' : categoryNames, 'stepObjects' : stepObjects, 'id': id, 'selectedStep' : selectedStep } %}
        </div>
    </div>

{% endblock content %}