{% extends '::layout.html.twig' %}

{% block content %}
 
    <div id="step-submission-container">
        <span id="whats-your-step-heading">What's Your Step?</span>
        <div style="margin-bottom: 10px;">Have you taken a step to save energy and money?  Share it! </div>
        
        <div id="whats-your-step">
            {% include "GYGBFrontBundle:ShareAStep:_stepForm.html.twig" with {'stepForm' : stepForm, 'categoryNames' : categoryNames, 'stepObjects' : stepObjects, 'id': id, 'selectedStep' : selectedStep } %}
        </div>
    </div>

{% endblock content %}