<div id="about">
     <span style="font-style: italic;">Get Your Green Back Tompkins</span> aims to help members of the Tompkins County community <b>save money</b> in the areas of <b>Food</b>, <b>Energy</b>, <b>Transportation</b>, and <b>Waste</b>.
</div>