<div id="about">
     <span style="font-style: italic;">Get Your GreenBack  - Tompkins!</span> plans to engage all 42,000 households and every business in Tompkins County to take tangible steps to save money in the areas of <b>Food</b>, <b>Energy</b>, <b>Transportation</b>, and <b>Waste</b> while building community and a resilient future for ALL residents.</span>
</div>