{% extends '::_thanks.html.twig' %}

{% block heading %}
    <h1>Thanks for taking a step to save money and energy!</h1>
    <h2>Your step will appear once our team approves it.</h2><br/>
{% endblock heading %}
