/* 
    Colors used
        logo green: 4a793c
        red:        b7253a 
        light link: a3a8ff
        link:       B7253A
        orange:     D65629 
        yellow:     D78228 
*/

/* Tags ----------------------------------------------------------------------*/
html, body {
    background: #eeeeee;
}

#header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#header img#logo {
    float: left; 
    width: 375px;
}

#header img#logob {
    float: left;
    margin: 75px 0 0 100px;
}



.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* bootstrap outlines active links... why? it looks horrible */
a:active
{
    outline: none !important;
}

a:focus
{
    -moz-outline-style: none !important;
}      