div.step-form .category-selection{
        width: 150px;
        height: 30px;
}

div.step-form img {
        float: left;
}

div#custom-step,
div#org-form {
        overflow: hidden;
}

