div#home-columns-container {
    padding: 0 20px 45px 20px;
}

#menu {
    width: 500px;
}

div#enter-raffle {
    float: none;
    text-align: right;
}

#filters div.filter-group div.filter-group-heading a {
    float: none;
}

