div.ie6-header-message,
div.header-message {
    text-align: center;
    background: #ffffbb;
    padding: 8px 0;
    font-size: 20px;
}

div.header-error-message {
    text-align: center;
    background: #aa0000;
    padding: 8px 0;
    font-size: 20px;
    color: white;
}

.page-message {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    background: #ffffbb;
    overflow: auto;
    font-size: 14px;
}

.page-error-message {
    background: #aa0000;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    overflow: auto;
    font-size: 14px;
}

div.errorPage {
    text-align: center;
    font-size: 24px;
    font-family: Trebuchet,"Trebuchet MS",Verdana,sans-serif;
}

div.errorPage a {
    color: #0066CC;
    text-decoration: none;
}

div.errorPage a:hover {
    text-decoration: underline;
}

div.errorPage h1 {
    font-size: 30px;
}

div.errorPage h1, 
div.errorPage span.errorText, 
div.errorPage div.errorOptions {
    margin-top: 20px;
    display: block;
}

a.errorOption {
    margin: 0 5px;
}

a.errorOption img {
    margin: 2px 5px 0 0;
}