div#step-submission-container {
}

div#step-form select#form_step_dropdown {
}

div#step-form .category-selections {
    width: 100%;
    clear: both;
    overflow: auto;    
}

div#step-form .category-selections a {
    float: left;
    display: block;
}

div#step-form .category-selection img,
div#step-form .category-selection span {
    float: left;
    display: block;
    clear: none;
}

div#step-form .category-selection {
    float: left;
    margin: 5px 2px;
    -moz-border-radius: 7px;
    webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid white;
}

div#step-form .category-selection.selected {
    color: black;
    border: 1px solid #ccc;
}

div#step-form .category-selection:hover {
    cursor: pointer;
    color: black;
}

div.category-selection span.category-name {
    display: block;
    float: right;
    margin: 5px;
    color: black;
    font-size: 13px;
}

div.category-selection:hover span.category-name {
    color: black;
}

a.share-your-own {
    margin: 10px 0;
    display: block;
}

a.share-your-own-cancel {
    font-size: 12px;
    float: right;
}

div.share-your-own-container {
    display: none;
}