 /* 
        logo green hex: #4a793c
        red: #b7253a 
        light link: #C9DDFF;a3a8ff
        link: #B7253A
        #D6562_9
        organe: #D65629 
        yellow:     D78228 
*/

/* layout =================================================================== */

#page-container {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 5px 25px;
    -moz-box-shadow: 0px 5px 20px #999999;
    -webkit-box-shadow: 0px 5px 20px #999999;
    box-shadow: 0px 5px 20px #999999;
    background: white;
    min-height: 700px;
}

#header {
    padding: 10px 0;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#header img#logo {
    float: left; 
    width: 375px;
}

#header img#logob {
    float: left;
    margin: 75px 0 0 100px;
}

#user-menu {
    float: right;
    font-size: 12px;
}

#user-menu li {
    float: left;
    margin: 0 5px;
}

#user-menu a {
    border-right: 1px solid #666;
    margin-right: 4px;
    padding-right: 6px;
}

#user-menu a.last {
    border: none;
}

    
#menu {
    float: right;
    margin-top: 20px;
}

#menu li {
    float: left;
    margin: 5px;
    display: block;
    padding: 3px 6px;
}

#menu li.current {
    background: #D65629;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
}

#menu li a {
    color: #D65629;
}

#menu li.current a {
    color: white;
}
#menu li.current a:hover {
    text-decoration: none;
}

/* end layout =============================================================== */

/* general tags ============================================================= */
body {
    font-family: Trebuchet,"Trebuchet MS",Verdana,sans-serif;
    background: #eeeeee;
}

h1 {
    font-size: 30px;
    margin: 20px 0;
    padding: 0 3px;
}

div.ie6-header-message,
div.header-message {
    text-align: center;
    background: #ffffbb;
    padding: 8px 0;
    font-size: 20px;
}

div.header-error-message {
    text-align: center;
    background: #aa0000;
    padding: 8px 0;
    font-size: 20px;
    color: white;
}

.page-message {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    background: #ffffbb;
    overflow: auto;
    font-size: 14px;
}

.page-error-message {
    background: #aa0000;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    overflow: auto;
    font-size: 14px;
}


p {
    margin: 10px 0;
}

span.page-heading {
    font-size: 24px;
    margin: 5px 0 15px 0;
    width: 100%;
    display: block;
}

span.page-sub-heading {
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);

    border: 1px solid #4a793c;
    background: #4a793c;
    color: white;
    margin: 2px;

    padding: 3px 6px;
}

.button:hover {
    background: #325228;
    text-decoration: none;
}

.submit {
    float: right;
    clear: both;
}

a {
    text-decoration: none;
    color: #0066CC;
}


a:hover {
    text-decoration: underline;
}

span.page-break {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    margin: 0 0 15px 2px;
}

span.field-help {
    float: right;
    color: #666;
    font-style: italic;
    width: 70%;
    clear: both;
    font-size: 12px;
    margin: 5px 0;
}

/* end general tags ========================================================= */


/* home ===================================================================== */
div#sponsors,
div#founders {
    border-bottom: 1px solid #ddd;
}


div#organizations,
div#sponsors,
div#founders {
    width: 100%;
    float: left;
}

div#about div#campaign-summary{
    font-size: 22px;
    text-align: center;
    line-height: 25px;
}

div.about-container {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
    clear: both;
}

div.about-container #about {
    width: 855px;
    float: none;
    margin: 0 auto;
    padding: 20px 0;
}

div.about-container #about a.food {
    background: url("../images/food.png") no-repeat scroll 4px;    
}
div.about-container #about a.waste {
    background: url("../images/waste.png") no-repeat scroll 4px;    
}
div.about-container #about a.energy {
    background: url("../images/energy.png") no-repeat scroll 4px;    
}
div.about-container #about a.transportation {
    background: url("../images/transportation.png") no-repeat scroll 4px;    
}

div.about-container #about a {
    padding: 0 0 0 35px;
}

div.about-container #about a:hover {
    cursor: pointer;
}


div#about {
    margin: 10px 0 10px 0;
    font-size: 20px;
    line-height: 31px;
    width: 47%;
    float: right;
    text-align: center;
}

a#join-the-campaign {
    margin: 0 50px 10px 0; float: right;
}

div#founders-and-sponsors {
    width: 100%;
    float: left;
    margin-top: 100px;
    border-top: 1px solid #ddd;
}

div.home-columns-container {
    width: 96%; background: #D65629; padding: 0 20px; overflow: auto;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

div.home-column {
    width: 235px;
    margin: 40px 20px;
    height: 240px;
    float: left;
    border: 1px solid #eee;
/*    box-shadow: 0 8px 7px #ccc;
    -moz-box-shadow: 0 8px 7px #ccc;
    -webkit-box-shadow: 0 8px 7px #ccc;*/
    background: white;
    padding: 0 15px;
}

div.home-column:hover {
    box-shadow: 0 8px 7px #666;    
    -moz-box-shadow: 0 8px 7px #666;    
    -webkit-box-shadow: 0 8px 7px #666;
    cursor: pointer;
}

div.home-column h2 {
    text-align: center;
    margin: 10px 0;
}

div.home-column h2 a {
    color: black;
}

div.home-column h2 a:hover {
    text-decoration: none;
}

div.home-column h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

div.home-column img {
    margin: 0 auto;
    display: block;
}

/* end home ================================================================= */


/* whats your step ========================================================== */
div#step-submission-container {
    width: 100%;
    float: left;
    padding: 15px 0;
    text-align: center;
}

div#whats-your-step {
    width: 550px;
    clear: right;
    margin: 0 auto 10px auto;
}

div#whats-your-step h1 {
    margin: 30px 0 15px 0;
    text-align: center;
    font-size: 2em;
}

span#whats-your-step-heading {
    margin: 10px;
    font-size: 24px;
    display: block;
}

/* step form */
div#step-form {
    float: right;
    background: #ddd;
}

div.box-form {
    width: 515px;
    padding: 15px 25px;
    overflow: auto;
    -moz-border-radius: 7px;  
    webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: -2px 5px 10px #999;
    -moz-box-shadow: -2px 5px 10px #999;
    -webkit-box-shadow: -2px 5px 10px #999;
}

div.box-form h2 {
    font-size: 20px;
    text-align: left;
    margin: 30px 0 0 0;
    display: block;
}

div.box-form form input, 
div.box-form form textarea {
    width: 99%;
}

div.box-form select#form_step_dropdown {
    width: 90%;
    font-size: 14px;
}

div.box-form form input[type="submit"] {
    width: auto;
    font-size: 22px;
    cursor: pointer;
}

div.box-form .category-selections {
    width: 100%;
    clear: both;
    overflow: auto;
    
}

div.box-form .category-selections a {
    float: left;
    display: block;
}

div.box-form .category-selection img,
div.box-form .category-selection span {
    float: left;
    display: block;
    clear: none;
}


div.box-form .savings-selections {
    width: 117px;
    margin: 0 auto;
    overflow: auto;
    clear: both;
    font-size: 18px;
}

div.box-form .savings-selection {
    font-family: arial;
}

div.box-form .category-selection,
div.box-form .savings-selection {
    float: left;
    margin: 5px 2px;
    background: #eee;
    -moz-border-radius: 7px;
    webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid #eee;
}

div.box-form .category-selection.selected,
div.box-form .savings-selection.selected {
    border: #4a793c 1px solid;
    color: black;
}

div.box-form .category-selection:hover,
div.box-form .savings-selection:hover {
    border: #4a793c 1px solid;
    cursor: pointer;
    color: black;
}

div.box-form .savings-selections a {
    color: black;
    text-decoration: none;
}

div.box-form form div label {
    float: left;
    margin-top: 12px;
}

div.box-form form textarea,
div.box-form form input[type="text"] {
    font-size: 19px;
    font-family: courier;
}

div.category-selection span.category-name {
    display: block;
    float: right;
    margin: 5px;
    color: black;
    font-size: 13px;
}

div.category-selection:hover span.category-name {
    color: black;
}

div.box-form .box-form-label {
    float: left;
    margin-top: 12px;
}

a.share-your-own {
    margin: 10px 0;
    display: block;
}

a.share-your-own-cancel {
    font-size: 12px;
    float: right;
}

div.share-your-own-container {
    display: none;
}

/* end step form ============================================================ */

/* steps taken ============================================================== */
div#steps-taken {
    float: left;
    width: 50%;
}
div#commitments-made {
    float: left;
    width: 50%;
}


div#steps-taken-counter {
    font-size: 2em;
    color: black;
    float: left;
}

div#steps-taken div#steps-taken-counter {
    margin: 30px 0 30px 100px;
}

div#commitments-made div#steps-taken-counter {
    margin: 30px 0 30px 50px;
}


div#steps-taken-counter span.step-digit {
    color: white;
    padding: 4px 2px;
    margin: 1px;
    font-family: courier;
    border: none;
}

div#steps-taken-counter span.step-digit {
    -moz-border-radius: 0px;
    webkit-border-radius: 0px;
    border-radius: 0px;
    background: #777;
}

div#steps-taken-counter .step-digit:hover {
    background: #777;
}

/* end steps taken ========================================================== */

/* step list ================================================================ */

div.step-list#all-step-list {
    width: 50%;
    margin: 0 0 20px 110px;
    float: left;
    box-shadow: 0px 1px 9px #666;
    -moz-box-shadow: 0px 1px 9px #666;
    -webkit-box-shadow: 0px 1px 9px #666;
    padding: 10px;
}

div.step-list#recent-step-list {
    width: 52%;
    float: left;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div.step-container div.step.transportation {
    background: url("../images/transportation.png") no-repeat scroll 4px;    
}
div.step-container div.step.general {
    background: url("../images/general.png") no-repeat scroll 4px;    
}
div.step-container div.step.waste {
    background: url("../images/waste.png") no-repeat scroll 4px;    
}
div.step-container div.step.energy {
    background: url("../images/energy.png") no-repeat scroll 4px;    
}
div.step-container div.step.food {
    background: url("../images/food.png") no-repeat scroll 4px;    
}

div.step-list#recent-step-list:hover {
    cursor: pointer;
}

div.step-list-container a.step-link:hover {
/*    text-decoration: none; */
}

div.step-list-container a.step-link {
/*    color: black; */
}

div.step-container:hover,
div.step-container.highlight, 
div.step-container:hover {
    background-color: #ffffbb; 
    cursor: pointer;
}

div.take-a-step-box div.step-container:hover {
    background: white;
    cursor: auto;
}

div.step-container {
    border-bottom: 1px solid #ccc;
    overflow: auto;
    background: white;
}

div.step-list-container .step-container.last {
    border: none;
}

div.step-container.category-hidden,
div.step-container.type-hidden,
div.step-container.savings-hidden {
    display: none;
}


div.step-container div.step {
    padding: 8px 8px 8px 36px;
    color: black;
    overflow: hidden;
}

div.step-container.first {
}

div.step-container.last {
}

div.step-container div.step span.savings {
    color: #4a793c;
    padding: 3px;
    text-align: center;
    width: 25px;

    display: block;
    float: left;
    margin-right: 5px;
    font-family: arial;
}

div.step-container div.step span.count {
    display: block;
    float: left;
    padding: 3px;
    -moz-border-radius: 2px;
    webkit-border-radius: 2px;
    border-radius: 2px;

    background: #666;
    color: white;
    font-family: courier;
    margin-right: 5px;
}

div.step-container div.step span.step {
  /*  float: left; */
    padding: 3px;
}


div.step-container div.step span.date {
    color: #666;
    font-size: 12px;
    float: right;
    margin-top: 5px;
}

div.step-list-container {
    clear: both;
}

div.step-list-search-results {
    width: 100%; text-align: center; padding: 5px; background: #ffffbb; float: left;
    margin: 5px 0 10px 0;
}

/* end step list  =========================================================== */


/* steps  =================================================================== */
div#step-page-container {
    width: 100%;
    float: left;
}

div#step-option-container {
    width: 861px;
    float: left;
    height: 40px;
    margin-bottom: 15px;
}


#sort-options {
    float: right;
    width: 200px;
    text-align: center;
    margin:15px 87px 0 0;
    font-size: 14px;
}

#sort-options a,
div#all-link a {
    margin: 5px;
}

#sort-options a.last {
    border: none;
}

div#all-link a.current,
#sort-options a.current:hover,
#sort-options a.current {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

div#all-link a:hover,
#sort-options a:hover {

}

#search-steps {
    width: 216px;
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}

#search-steps div {
    float: left;
}

#search-steps label {
    display: none;
}

#search-steps input {
    background:transparent url('../images/search.gif') no-repeat scroll right center;
    margin:0;
    width:200px;
    padding-right:22px;
    font-size: 16px;
}

#search-steps .button {
    background: #ddd;
    color: black;
    border: none;
    cursor: pointer;
}


#filters {
    width: 210px;
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
}

#filters a {
    color: #4a793c;
}

#filters div.filter-group {
    border: 1px solid #ccc;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    margin-bottom: 10px;
}

#filters div.filter-group div.filter-group-heading {
    background: #666;
    color: white;
    padding: 6px;
}

#filters div.filter-group div.filter-group-heading a {
    font-size: 12px;
    color: #a3a8ff;
    float: right;
}


#filters div.filter {
    margin: 5px;
    padding: 4px;
    border: none;
    color: black;
    float: none; 
    height: 23px;
    width: 187px;
    font-size: 15px;
    font-family: Tahoma;

    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow:none;

    -moz-border-radius: 7px;
    webkit-border-radius: 7px;
    border-radius: 7px;
    
    opacity: .6;

}

#filters div.filter.current {
    opacity: 1;
}

#filters div.filter input {
    float: right;
    margin: 5px;
    display: block;
}

#filters div.filter span.savings {
    color: #4A793C;
    font: arial;
}

#filters div.filter:hover {
    cursor: pointer;
    opacity: 1;
}

#filters div.filter.current span.filter-label,
#filters div.filter:hover span.filter-label {
    color: black;
}

#filters div.filter span.filter-label {
    display: block;
    margin: 5px;
    float: left;
    color: #666;
}
#filters div.filter span.filter-label:hover {
    text-decoration: underline;
}


#filters div.filter img {
    float: left;
}

div#ads {
    float: right; width: 23%; margin: 20px 0pt; padding: 4px;
}

div#ads img {
    width: 90px;
    margin: 5px;
}

div#ads div.logo-container {
    margin: 0 auto; 
}

/* end setps  ================================================================*/

/* step details ==============================================================*/
div.step-details-container {
    overflow: auto;
    margin: 5px 0;
    color: black;
}

div.step-details-container h2 {
    margin: 15px 0;
    font-size: 26px;
}

div.step-details-container div.step-description {
    margin: 0 0 15px 0;
}

a.take-this-step {
    float: right;
    font-size: 12px;
    display: none;
}


/* end step details ==========================================================*/

/* organizations  ============================================================*/
div#org-form {
    clear: right;
    background: #ddd;
    margin: 20px auto;
    width: 385px;
}
/* end organizations  ========================================================*/


/* logos  ====================================================================*/
div.logo-block {
    margin: 15px auto;
    overflow: auto;
}

div.logo-block img {
    display: block;
    float: left; 
    width: 55px;
    margin: 5px;
}

/* end logos =================================================================*/

/* about page =================================================================*/
div#about-page-container h1 {
    font-size: 30px;
}

div#about-page-container p {
    line-height: 20px;
    margin: 15px 0;
}
/* end about page ============================================================*/

/* take a step page =================================================================*/
div.take-a-step-box {
    width: 60%;
    margin: 15px auto;
    font-size: 20px;
}

div.take-a-step-box .step-container {
    border: 1px solid #D65629;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

div.take-a-step-box span.description a {
    color: #a3a8ff !important;
}


div.take-a-step-box span.savings {
    width: 35px !important;
}

div.take-a-step-box span.description {
    background: #D65629;
    padding: 10px;
    display: block;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    color: white;
}

div#take-a-step-page-container {
    
}
div#take-a-step-page-container h1 {
    font-size: 26px !important;
}

div#take-a-step-page-container div.step-buttons-container {
    width: 100%;
    font-size: 28px;
    margin: 30px 0 0 0;
}

div.share-this-step-container a.button {
}

div#take-a-step-page-container div.commit-to-this-step {
    float: left;
    width: 400px;
}

div#take-a-step-page-container div.share-this-step {
    float: right;
    width: 490px;
}

div.step-details-container div.step-submissions {
    width: 75%;
    float: right;
    color: black;
    font-size: 10px;
}

div.step-submissions {
}

div.step-submission-container {
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

 div.step-submissions div.step-submission {
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 5px 0;
}

div.step-submissions div.step-submission.last {
    border: none;
}

 div.step-submissions div.step-submission span.name {
    float: left;
}

 div.step-submissions div.step-submission span.date {
    color: #666;
    font-size: 14px;
    float: right;
    margin-top: 5px;
}

 div.step-submissions div.step-submission span.story {
     margin-left: 5px;
}

div.organizations {
    width: 100%;
}

div.organizations div.organization:hover {
    box-shadow: 0 7px 8px #ccc;
    -moz-box-shadow: 0 7px 8px #ccc;
    -webkit-box-shadow: 0 7px 8px #ccc;
    cursor: pointer;
}

div.organizations div.organization-container {
    width: 100%;
    float: left;
}

div.organizations div.organization {
    margin: 8px;
    padding: 15px;
    border: 1px solid #ccc;
}

div.organizations div.organization div.logo-container {
}

div.organizations div.organization div.title-container {
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    padding: 0 0 8px 0;
}

div.organization a.edit {
    float: right;
    font-size: 14px;
    background: url("../images/edit.png") no-repeat scroll 4px;    
    padding: 5px 0 5px 28px;
}


div.organizations div.organization img {
    float: right;
    margin: 15px 25px 5px 5px;
    max-width: 250px;
    max-height: 120px;
    
}

div.organizations div.organization div.description {
    padding: 5px;
}

div.organizations ul {
    list-style: disc;
    margin-left: 15px;
}


div#resources-container {
    
}

div.category-resources {
    overflow: auto;
    margin: 10px 0 25px 0;
}

div.category-resources-heading-container img.category-step {
    width: 9%;
    float: left;
    margin: 15px;
}

div.category-resources-heading-container {
    overflow: auto;
}

div.category-resources-heading {
    display: block;
    background: #D65629;
    color: white;
    font-size: 22px;
    padding: 7px;
}

div.category-resources-description div.category-description {
    padding: 30px 50px;
    font-size: 25px;
    line-height: 35px;
}

div.featured-resource div.organizations {
    width: 85%;
    float: right;
    overflow: auto;
}

div.featured-resource {
    width: 100%;
}

div#commit-form {
    background: #ddd;
    font-size: 14px; width: 400px; margin-top: 25px; display: none;
}

div.organization-steps {
    float: right;
    width: 70%;
    margin: 5px;
    clear: both;
}

div.organization-steps h2 {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 3px 0;
}


div.resource-category-options {
    width: 100%;
    margin: 20px 0;
}
a.resource-category-option {
    float: left;
    padding: 10px 0 10px 35px;
    margin: 0 5px;
}

a.resource-category-option.current {
    color: black;
}

a.resource-category-option.current:hover {
    color: black;
    text-decoration: none;
}

a.resource-category-option:hover {
}

a.resource-category-option.transportation {
    background: url("../images/transportation.png") no-repeat scroll 4px;    
}
a.resource-category-option.general {
    background: url("../images/general.png") no-repeat scroll 4px;    
}
a.resource-category-option.waste {
    background: url("../images/waste.png") no-repeat scroll 4px;    
}
a.resource-category-option.energy {
    background: url("../images/energy.png") no-repeat scroll 4px;    
}
a.resource-category-option.food {
    background: url("../images/food.png") no-repeat scroll 4px;    
}


/* end take a step page =================================================================*/

div#coalition {
    padding: 10px 20px 30px 20px;
    overflow: auto;
}

div#coalition ul {
    list-style: disc; width: 45%;
}

div#coalition ul li {
    line-height: 17px;
}


/* error pages */
div.errorPage {
    text-align: center;
    font-size: 24px;
    font-family: Trebuchet,"Trebuchet MS",Verdana,sans-serif;
}

div.errorPage a {
    color: #0066CC;
    text-decoration: none;
}

div.errorPage a:hover {
    text-decoration: underline;
}

div.errorPage h1 {
    font-size: 30px;
}

div.errorPage h1, 
div.errorPage span.errorText, 
div.errorPage div.errorOptions {
    margin-top: 20px;
    display: block;
}

a.errorOption {
    margin: 0 5px;
}

a.errorOption img {
    margin: 2px 5px 0 0;
}

div#why-register {
    background: #D78228;
    color: white;
    font-size: 20px;
    text-align: center;
    
    
    padding: 20px 100px;
    
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

div.step-list-container#community-steps {
    width: 60%;
    margin: 15px auto;
    box-shadow: 0px 1px 9px #666;
    -moz-box-shadow: 0px 1px 9px #666;
    -webkit-box-shadow: 0px 1px 9px #666;
    padding: 10px;
}

div.step-list-container#step-events {
    width: 57%;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0px 1px 9px #666;
    -moz-box-shadow: 0px 1px 9px #666;
    -webkit-box-shadow: 0px 1px 9px #666;
    padding: 10px;
}

div.step-list-container#step-events .step:hover {
    background-color: white;
    cursor: default;
}

div.take-a-step-menu {
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    height: 75px;
}

div.take-a-step-menu li {
    width: 33%;
    float: left;
    clear: none;
    text-align: center;
    font-size: 22px;
    opacity: .7;
}

div.take-a-step-menu li.current {
    opacity: 1;
}

div.take-a-step-menu li.current a {
    color: black;
}

div.take-a-step-menu li.current:hover a {
    text-decoration: none;
}

div.take-a-step-menu li.findAStep  {
    background: url("../images/step-food.jpg") no-repeat scroll 17px;
    padding: 0 0 80px;
    background-position: center;
}

div.take-a-step-menu li.takeAStep  {
    background: url("../images/step-energy.jpg") no-repeat scroll 17px;
    padding: 0 0 84px;
    background-position: center;
}

div.take-a-step-menu li.shareAStep  {
    background: url("../images/step-dollar.jpg") no-repeat scroll 17px;
    padding: 0 0 80px;
    background-position: center;
}


span.take-a-step-heading {
    font-size: 18px;
    width: 100%;
    margin: 8px 0 25px 0;
    display: block;
}