/* green hex: #4a793c */

h2 {
/*     border-bottom: 1px solid #ddd;
     width: 400px;*/
     font-size: 38px;
     margin: 20px 0;
     padding: 0 3px;
}

.button {
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);

    border: 1px solid #4a793c;
    background: #4a793c;
    color: white;
    margin: 2px;
    
    padding: 3px 6px;
}

.button:hover {
    background: #325228;
    text-decoration: none;
}

.submit {
    float: right;
}

a {
    text-decoration: none;
    color: #0066CC;
}


a:hover {
    text-decoration: underline;
}

a.block-link:hover {
    text-decoration: none;
}

div.stepbox-container {
    text-align: center;
    width: 50%;
}

div#step-choices {
    margin: 0 auto;
}

div.step-choice {
    width: 106px;
    height: 106px;
    margin: 5px;
    padding: 5px;
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 14px;
    background: url("/GYGB/web/images/foot-black-small-15op.png") no-repeat scroll 14px 14px white;
}

a.step-choice {
    font-weight: bold;
}

a.step-choice:hover {
    text-decoration: none;
}

div.step-choice {
    color: black;
}

div.step-choice div.choice-text {
    margin-top: 31px;
}

div.step-choice:hover {
    background: url("/GYGB/web/images/foot-green-small-50op.png") no-repeat scroll 14px 14px white;
}

div#your-step {
    width: 234px;
    float: right;
}

div#steps-taken-counter {
    font-size: 2em;
    margin: 10px 0 0 100px;
    color: black;
}

span.step-digit {
    color: white;
    padding: 4px 2px;
    margin: 1px;
    font-family: courier;
    border: none;
}

div.step-form {
    width: 385px;
    padding: 10px;
    overflow: auto;
    -moz-border-radius: 7px;  
        webkit-border-radius: 7px;
    border-radius: 7px;

}

div#custom-step {
    float: right;
    background: #ddd;
}

div#org-form {
    float: left;
    background: #ddd;
}

div.step-form form input, 
div.step-form form textarea {

    width: 99%;
}

div.step-form form input[type="submit"] {
    width: auto;
    font-size: 22px;
    cursor: pointer;
}

div.step-form .category-selections {
        width: 100%;
        float: left;
}

div.step-form .savings-selections {
    width: 117px;
    margin: 0 auto;
    overflow: auto;
    clear: both;
    font-size: 18px;
}


div.step-form .category-selection,
div.step-form .savings-selection {
    float: left;
    margin: 5px;
    background: #eee;
    -moz-border-radius: 7px;
        webkit-border-radius: 7px;
    border-radius: 7px;

    padding: 5px;
}

div.step-form .category-selection.selected,
div.step-form .category-selection.selected span.category-name,
div.step-form .savings-selection.selected,
div.step-form .savings-selection.selected span.category-name {
    background: #4a793c;
    color: white;
}

div.step-form .category-selection:hover,
div.step-form .savings-selection:hover {
    background: #4a793c;
    cursor: pointer;
    color: white;
}

div.step-form .savings-selections a {
    color: black;
    text-decoration: none;
}

div.step-form form div label {
    float: left;
    margin-top: 5px;
}

div.step-form form textarea,
div.step-form form input[type="text"] {
    font-size: 19px;
    font-family: courier;
}

div#about div#campaign-summary{
    font-size: 22px;
    text-align: center;
    line-height: 25px;
}


div.recent-step,
div.step {
    padding: 8px 8px 8px 36px;
    margin: 0 6px;
    border-bottom: 1px solid #ccc;
    color: black;
    overflow: hidden;
}

div.recent-step.first,
div.step.first {
}

div.step.last {
        border: none;
}


div.recent-step span.savings,
div.step span.savings {
    color: #4a793c;
    padding: 3px;
    text-align: center;
    width: 25px;
    
    display: block;
    float: left;
    margin-right: 5px;
}

div.step span.count {
    display: block;
    float: left;
    padding: 3px;
    -moz-border-radius: 2px;
    webkit-border-radius: 2px;
    border-radius: 2px;

    background: #666;
    color: white;
    font-family: courier;
    margin-right: 5px;
}

div.recent-step span.date,
div.step span.date {
    color: #666;
    font-size: 12px;
    float: right;
    margin-top: 5px;
}

.button.step-digit {
    -moz-border-radius: 0px;
        webkit-border-radius: 0px;
    border-radius: 0px;

    background: #777;
}

.button.step-digit:hover {
    background: #777;
}

div.category-column {
    width: 210px;
    height: 80px;
    background: #666;
    -moz-border-radius: 7px;
        webkit-border-radius: 7px;
    border-radius: 7px;

    margin: 5px;
    padding: 4px;
    float: left;
    text-align: center;
    border: none;
    color: white;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow:none;

}

div.category-column:hover {
    cursor: pointer;
    background: #ddd;
    color: black;
}

div.category-column:hover span.category-title {
        color: black;
}

div.category-column span.category-title {
    color: white;
    display: block;
    clear: right;
    margin-top: 21px;
}

div.category-column img {
    float: left;
}

div.step.transportation {
    background: url("/GYGB/web/images/bicycle-small.png") no-repeat scroll 4px;    
}
div.step.general {
    background: url("/GYGB/web/images/globe-small.png") no-repeat scroll 4px;    
}
div.step.waste {
    background: url("/GYGB/web/images/recycle-bin-small.png") no-repeat scroll 4px;    
}
div.step.energy {
    background: url("/GYGB/web/images/battery-small.png") no-repeat scroll 4px;    
}
div.step.food {
    background: url("/GYGB/web/images/apple-small.png") no-repeat scroll 4px;    
}


div#steps-taken:hover ,
div#steps:hover {
    cursor: pointer;
}

div#steps-taken a:hover {
    text-decoration: none;
}

a.step-box-link:hover {
    text-decoration: none;
}

div#step-list div.step:hover {
/*    background-color: #ffffbb; */
        cursor: default;
}

div#steps div.step:hover {
    background-color: #ffffbb; 
        cursor: pointer;
}


div#step-list {
    float: left;
}


/* Steps */
#filters {
    width: 210px;
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    background: #666;
    border-radius: 0 0 7px 7px;
        webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;

}

#filters div.category-column {
    float: none !important; 
    height: 23px;
    width: 187px;
}

#filters div.category-column span.category-title {
    marign: 0;
    display: inline;
    clear: none;
}

#filters div.category-column.current span.category-title {
        color: black;
}

#filters div.category-column.current {
    background: #ddd;
    color: black;
}

#filters a {
        color: #4a793c;
}

#sort-options {
    float: right;
    width: 30%;
    text-align: center;
    margin-top: 11px;
}

#sort-options a,
div#all-link a {
    color: white;
    text-decoration: none;
    border: none;
    background: #666;
    -moz-box-shadow: none;
        box-shadow: none;
    -webkit-box-shadow: none;

    padding: 3px 5px;
}

#sort-options a.last {
    border: none;
}

div#all-link a.current,
#sort-options a.current {
    color: black;
    background: #ddd;
}

div#all-link a:hover,
#sort-options a:hover {
        background: #ddd;
        color: black;
}

#search-steps {
    width: 25%;
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}

#search-steps div {
    float: left;
}

#search-steps label {
    display: none;
}

#search-steps .button {
        background: #ddd;
        color: black;
        border: none;
        cursor: pointer;
}


/* STATIC HOME */
div#organizations,
div#partners {
        width: 100%;
        float: left;
}

div#org-form {
        clear: right;
        display: none;
}


div#partners img,
div#organizations img,
div#ads img {
        width: 90px;
        margin: 5px;
}

img#logo {
        width: 452px;
        float: left;
}

div#about {
    margin: 10px 0 10px 0;
    font-size: 28px;
    width: 47%;
    float: right;
    text-align: center;
    line-height: 37px;
}

a#commit-your-organization {
        margin: 0 50px 10px 0; float: right;
}

a.commitLinkClicked {
        color: black;
        text-decoration: none;
}

a.commitLinkClicked:hover {
        text-decoration: none;
}

div.header-message {
    text-align: center;
    background: #ffffbb;
    padding: 8px 0;
    font-size: 20px;
}

div#ads {
        float: right; width: 23%; margin: 20px 0pt; padding: 4px;
}

div.category-selection span.category-name {
        display: block;
        float: right;
        margin: 5px;
        color: black;
}

div.category-selection:hover span.category-name {
        color: white;
}

div.staticAbout #about {
        width: 675px;
        float: none;
        margin: 30px auto;
    
}