div.take-a-step-box {
    width: 60%;
    margin: 15px auto;
    font-size: 20px;
}

div.take-a-step-box .step-container {
    border: 1px solid #D65629;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

div.take-a-step-box span.description a {
    color: #a3a8ff !important;
}


div.take-a-step-box span.savings {
    width: 35px !important;
}

div.take-a-step-box span.description {
    background: #D65629;
    padding: 10px;
    display: block;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    color: white;
}

div#take-a-step-page-container {
    
}
div#take-a-step-page-container h1 {
    font-size: 26px !important;
}

div#take-a-step-page-container div#step-buttons-container {
    width: 100%;
    font-size: 28px;
    margin: 30px 0;
}

div.share-this-step-container a.button {
}

div#take-a-step-page-container div.commit-to-this-step {
}

div#take-a-step-page-container div.share-this-step {
}

div#commit-form-container {
    display: none;
    margin-top: 10px;
}

div.step-list#step-submissions {
    width: 57%;
    margin: 0 auto;
    overflow: auto;
}