{% extends '::layout.html.twig' %}

{% block content %}
<div id="coalition">
    <h1>The Get Your GreenBack Tompkins Coalition</h1>
    <ul style="float: left;">
    <li>2-1-1/Human Services Coalition of Tompkins County</li>
    <li>AES Cayuga </li>
    <li>Area Congregation Together (ACT) </li>
    <li>Alternatives Federal Credit Union </li>
    <li>ASI Energy </li>
    <li>Cayuga Medical Center </li>
    <li>Cinemopolis </li>
    <li>City of Ithaca </li>
    <li>Community Innovations </li>
    <li>Cornell Cooperative Extension of Tompkins County </li>
    <li>Cornell University </li>
    <li>Dorothy Cotton Institute </li>
    <li>Downtown Ithaca Alliance </li>
    <li>Dryden Solutions </li>
    <li>EcoVillage </li>
    <li>eLab, Diaspora & Sustainable Passions </li>
    <li>Energy Independent Caroline </li>
    <li>Energy Tec </li>
    <li>Finger Lakes Land Trust </li>
    <li>Finger Lakes ReUse </li>
    <li>Friends In Service Helping (FISH) </li>
    <li>Gadabout </li>
    <li>Gardens 4 Humanity (G4H) </li>
    <li>Green Resource Hub </li>
    <li>Groundswell Center for Local Food & Farming</li>
    <li>Green Home Heroes</li>
    <li>Greater Ithaca Activities Center (GIAC)</li>
    <li>Halco</li>
    <li>Healthy Food For All</li>
    <li>Ithaca CarShare</li>
    <li>Ithaca College</li>
    <li>Ithaca Community Harvest (ICH)</li>
    <li>Ithaca Green Building Alliance</li>
    <li>Ithaca Neighborhood Housing Services (INHS)</li>
    <li>Ithaca-Tompkins County Transportation Council</li>
    <li>Landlords Association of Tompkins County</li>
    <li>Lehman Alternative Community School</li>
    </ul>
    <ul style="float: right;">
    <li>Level Green Institute</li>
    <li>Local First</li>
    <li>Multicultural Resource Center</li>
    <li>Museum of the Earth</li>
    <li>New Earth Strategies</li>
    <li>New Roots Charter School</li>
    <li>Office of US Rep. Maurice Hinchey</li>
    <li>Peaks Over Poverty</li>
    <li>ScienceCenter</li>
    <li>Sew Green</li>
    <li>Share Tompkins</li>
    <li>Snug Planet</li>
    <li>Southside Community Center</li>
    <li>SunSky Energy</li>
    <li>Sustainable Enterprise and Entrepreneurs Network</li>
    <li>Sustainable Tompkins </li>
    <li>Taitem Engineering </li>
    <li>The School Districts of Tompkins County </li>
    <li>The Village at Ithaca </li>
    <li>Tompkins County </li>
    <li>Tompkins Community Action (TCAction) </li>
    <li>Tompkins Cortland Community College (TC3) </li>
    <li>Tompkins County Area Development (TCAD) </li>
    <li>Tompkins County Area Transit (TCAT) </li>
    <li>Tompkins County Chamber of Commerce </li>
    <li>Tompkins County Climate Protection Initiative (TCCPI) </li>
    <li>Tompkins County Council of Governments </li>
    <li>Tompkins County Environmental Management Council </li>
    <li>Town of Danby </li>
    <li>Town of Dryden </li>
    <li>Town of Enfield </li>
    <li>Town of Ithaca </li>
    <li>Town of Lansing </li>
    <li>Town of Newfield </li>
    <li>Town of Ulysses </li>
    <li>UpState Energy Solutions</li>
    </ul>
</div>
{% endblock %}