{% if events|length > 0 %}
    <div class="step-list" id="{{ id }}">
        <div class="step-list-container {% if not linkEvents %}events-not-linked{% endif %}">
            {% for event in events %}
                {% include "GYGBFrontBundle:EventList:_event.html.twig" with {'event' : event, 'first' : loop.first, 'last' : loop.last, 'linkEvent' : linkEvents, 'justStory' : justStory, 'showCustomLabel' : showCustomLabel  } %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="alert-message block-message span15">
            {{ noEventsText|raw }}
        </div>
    </div>
{% endif %}
