<div id="about">
    Get Your GreenBack Tompkins is a community-based campaign to inspire all 42,000 households and every business in Tompkins County
    to take <i>at least one</i> step to save energy and money in the areas of
    <a href="{{ path('resources', {'category' : 'food'}) }}" class="food">Food</a>,
    <a href="{{ path('resources', {'category' : 'energy'}) }}" class="energy">Building Heating and Lighting</a>,
    <a href="{{ path('resources', {'category' : 'transportation'}) }}" class="transportation">Transportation</a>,
    and <a href="{{ path('resources', {'category' : 'waste'}) }}" class="waste">Waste</a>.
</div>

