<div id="about">
<p>GET YOUR GREENBACK TOMPKINS is about YOU taking a new step to save money and grow our economy-and then sharing your best
ideas on how to do that with the rest of us.</p>
<p>Consider this your one stop website for local information on <br/>
<a href="{{ path('takeAStepCategory', {'category' : 'energy'}) }}" class="energy">heating and electricity</a>, <a href="{{ path('takeAStepCategory', {'category' : 'transportation'}) }}" class="transportation">transportation</a>, <a href="{{ path('takeAStepCategory', {'category' : 'waste'}) }}" class="waste">waste</a>, and <a href="{{ path('takeAStepCategory', {'category' : 'food'}) }}" class="food">food</a>.
</p>
			
</div>

