{% for lb in logoBlocks %}
    <div class="logo-block" style="width: {{ lb.width }}px;">
        {% for l in lb.logos %}
                <img style="{% if((l.width) is defined) %}width: {{ l.width }}px;{% endif %}" src="{{ asset('images/logos/'~l.logo) }}" />
        {% endfor %}
    </div>
{% endfor %}
