    {% for lb in logoBlocks %}
        <div style="width: {{ lb.width }}px; margin: 15px auto; overflow: auto;">
                {% for l in lb.logos %}
                        <img style="display: block; float: left; {% if((l.width) is defined) %}width: {{ l.width }}px;{% endif %}" src="{{ asset('images/logos/'~l.logo) }}" />
                {% endfor %}
        </div>
    {% endfor %}