{% extends '::layout.html.twig' %}

{% block content %}
    
    {#
    <div id="step-submission-container">
      
        <div style="float: right; width: 40%;">
            <a href="{{ path("findAStep") }}">Take a Step &rarr;</a>
        </div>

        {% render "GYGBFrontBundle:Home:stepsTakenCounter" %} 
        {% render "GYGBFrontBundle:Home:recentStepList" %}  
    </div>#}
    
    <div class="home-column">
        <h2>1. Find a Step</h2>
    </div>

    <div class="home-column">
        <h2>2. Take a Step and save</h2>
    </div>
     
    <div class="home-column">
        <h2>3. Share a step and win</h2>

    </div>

    <div class="about-container">
        {% include "GYGBFrontBundle:Home:_about.html.twig" %}  
    </div>
    
    <div id="founders-and-sponsors">
        {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : foundersAndSponsors } %}
    </div>

    {# hidden div to include a bool that triggers some javascript when a step is submitted #}
    <div id="highlightStepBool" style="display: none;">
        {% if highlightStep %}true{% endif %}
    </div>

{% endblock content %}