{% extends '::layout.html.twig' %}

{% block content %}
    <div class="static-about">
        {% include "::_about.html.twig" %}  
    </div>       

    <div style="margin: 15px 0; padding: 30px 0 15px 0; width: 100%; border-top: 1px solid #ddd;">
        <div style="width: 400px; font-size: 30px; color: #666; margin: 0 auto;">
                Website coming soon!
        </div>
    </div>

    <div id="partners" style="border-top: 1px solid #ddd;">
        <h1>Founding Partners</h1>

        {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : partnerBlocks } %}
    </div>    

{% endblock %}