
    {% if organizations|length > 0 %}<div class="organizations">{% endif %}
        {% for organization in organizations %}
            <div class="organization-container">
                <div class="organization">
                    <div class="logo-container">
                    {% if organization.website is defined %}<a class="box-link" href="{{ organization.website }}">{% endif %}
                        <img src="{{ asset('images/logos/' ~ organization.logo) }}" />
                    {% if organization.website is defined %}</a>{% endif %}
                    </div>
                    {% if organization.description is defined %}
                        <div class="description">
                            {{ organization.description|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% if organizations|length > 0 %}</div>{% endif %}
    