{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/takeAStep.css') }}" type="text/css">        
{% endblock %}

{% block content %}
    {% include 'GYGBFrontBundle:Steps:_takeAStepMenu.html.twig' %}
    <div class="alert-message block-message info">
        <h3>Take a step and save money and energy.</h3>
        <a href="{{ path('findAStep') }}">&larr; Find your step</a>, and then come <b>here</b> to find resources to help you take it.
        <br/>
        If you have already taken a step, <a href="{{ path('shareAStep') }}">share it &rarr;</a>.
    </div>
    
{% endblock content %}