{% extends '::layout.html.twig' %}

{% block content %}
<div id="resources-container">
    <h1>Need help taking a step?</h1>

    {% for c in categories %}
        <div class="category-resources">
            <div class="category-resources-heading-container">
                <div class="category-resources-heading">{{ categoryOptions[c]['heading'] }}</div>
                <div class="featured-resource">
                    <img style="float: {{ categoryOptions[c]['foot'] }};" class="category-step" src="{{ asset('images/vert-step-' ~ c ~ '.png') }}" />
                    {% include "GYGBFrontBundle:TakeAStep:_organizations.html.twig" with {'organizations' : featuredResources[c] } %}
                </div>
            </div>
            {% include "GYGBFrontBundle:TakeAStep:_organizations.html.twig" with {'organizations' : resources[c] } %}
        </div>
    {% endfor %}
</div>
    
{% endblock content %}