{% extends '::layout.html.twig' %}

{% block content %}

    <h1>Need help taking a step?</h1>

    {% include "GYGBFrontBundle:TakeAStep:_organizations.html.twig" with {'organizations' : organizations } %}

</div>
    
{% endblock content %}