{% extends '::layout.html.twig' %}

{% block content %}
<div id="about-page-container">
    <h1>Get My GreenBack?</h1>
    <div style="font-size: 24px; text-align: center; color: #4a793c; margin-bottom: 30px;">
        Get Your GreenBack Tompkins is a community-based campaign to inspire all 42,000 households and every business in Tompkins County to take meaningful steps to save energy and money in the areas of Food, Building Heat & Lighting, Transportation, and Waste. Including you! Join the 100’s of others who have already taken steps to Get Their GreenBack!
    </div>


    <h2 style="font-size: 20px;">Why ”Get Your GreenBack Tompkins!” and Why Now?</h2>

    <p>
    The cost of energy is becoming an increasingly important factor in deciding whether to drive or take the bus to work; what food to put on the table; how to heat a building; where to live or locate a business; and what types of services a local government can offer its citizens.  We can also anticipate that the changing energy landscape will result in greater pressure on our natural resources – agricultural land, water resources, and local forests – to help meet the energy demands of the County.  
    </p>

    <p>
    In response to these economic, energy and greenhouse gas emissions challenges, a number of community initiatives, including those of local governments, institutions of higher education, local coalitions, the business community, and local nonprofits, are already underway.  By combining efforts to reduce energy demand, improve efficiency, and transition to alternative energy sources, the Tompkins County community will also build the essential connections across neighborhoods and social groups that will bring long-term economic and environmental sustainability. 
    </p>

    <br/><br/>
    <h2 style="font-size: 20px;">Contact Us</h2>
    <p>
    Questions or Comments? Call Cooperative Extension of Tompkins County at 607-272-2292 or e-mail us at <a href="mailto:getyourgreenbacktompkins@gmail.com">getyourgreenbacktompkins@gmail.com</a>
    </p>
</div>
{% endblock %}