<div style="margin: 5px 0 20px 150px;">
{% if object.logo is defined and object.logo != "" %}
    Current Logo:
    <img style="width: 200px; margin: 0 0 0 10px;" src="{{ asset('files/logos/' ~ object.logo) }}" />
{% endif %}
</div>