{% extends '::layout.html.twig' %}

{% block content %}
   
    {% include 'GYGBFrontBundle:Steps:_stepsTaken.html.twig' with {'stepDigits' : stepDigits, 'recentSteps' : recentSteps }%}

    <div style="clear: both"></div>
{% endblock %}